<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<ul class="bs-docs-footer-links text-muted">
			<li><a href="${base_url('/about')}">About me</a></li>
			<li>·</li>
			<li><a href="https://github.com/infsci2560sp17/full-stack-web-Haozhi0209">Contact me</a></li>
		</ul>
		<p>
			Copyright © 2017 <a href="${base_url('')}">University of Pittsburgh</a>. All rights reserved.
		</p>
	</div>
</footer>
<script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
<script type="text/javascript" src="/assets/scripts/base.js?ver=${version}"></script>
<script type="text/javascript" src="/assets/scripts/main.js?ver=${version}"></script>